@font-face {
    font-family: GameFont;
    src: url('../Orange\ Kid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: GameFont, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
}
canvas {
    display: block; /* Center the canvas */
}